name = "AdiabaticInvariant"
uuid = "0e556e56-5d18-4166-9970-24ffe1271c72"
authors = ["Ivan Maldonado <iam2395@eid.utexas.edu>"]
version = "1.0.0-DEV"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
